<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="/stylesheets/home2.css">
    </head>
    <body>
            <div class="navbar">
                <a class="active" href="/Home1">Messages</a>
                <a class="right">Profile</a>
            </div>
            <div class="screen">
                <label id="name">Name : User</label><br>
                <label id="email">Email : User@hotmail.com</label>
            </div>
    </body>
</html>