<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    <body>
            <div class="navbar">
                <a class="active" href="#Home">Home</a>
                <a class="middle" href="#Messages">Messages</a>
                <a class="right" href="#Profile">Profile</a>
            </div>
            <div class="screen">

            </div>
    </body>
</html>