<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="box_container">
      <form method="=POST">
      <div class="login_form">
        <label class="Uname_font">Enter your Username</label><br>
        <input type="text" id="uname" placeholder="Username"><br>
        <label class="Upass_font">Enter your password</label><br>
        <input type="password" id="'upass" placeholder="Password"><br><br>
        <button>Login</button>
        <a href="/views/register">
          <button>Signup</button>
        </a>
      </div>
      </form>
    </div>
  </body>
</html>
