<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <script>
     
    </script>
    <div class="box_container">
      <img src="/images/CHAT.jpg" style="position: fixed; width: 30rem;height: auto ;left: 90px;top:140px;border: 3px solid;" alt="CHAT">
      <form method="POST">
      <div class="login_form">
        <img src="/images/Logo.jpg" style="position: fixed; width: 10rem;height: auto ;left: 808px;top:100px;border: 3px solid;" alt="LETS-CHAT">
        <label class="logo_text">LETS-CHAT</label>
        <label class="Uname_font">Enter your Username</label><br>
        <input type="text" id="uname" placeholder="Username"><br>
        <label class="Upass_font">Enter your password</label><br>
        <input type="password" id="'upass" placeholder="Password"><br><br>
        <button>Login</button>
        <button type="submit">Signup</button>
      </div>
      </form>
    </div>
  </body>
</html>
