<!DOCTYPE html>
<html>
  <head>
    <title>SignUp</title>
    <link rel='stylesheet' href="/public/stylesheets/style.css" />
  </head>
  <body>
    <div class="box_container">
      <form method="=POST">
      <div class="login_form">
        <label class="Uname_font">Enter your Username</label><br>
        <input type="text" id="uname" placeholder="Username"><br>
        <label class="Uname_font">Enter your Email</label><br>
        <input type="text" id="uname" placeholder="Email"><br>
        <label class="Upass_font">Enter your password</label><br>
        <input type="password" id="'upass" placeholder="Password"><br><br>
        <button>Register</button>
        
      </div>
      </form>
    </div>
  </body>
</html>
